{%  extends "base.html" %}
{%  block head %}
    {% block title %}
        <title>Error Message</title>
    {% endblock title %}
{% endblock head %}
{% block content %}
    <div class = "container">
        <h1>
            <p> Notice: if you choose Easy mode, you can only allocate at most 16 skill points to your character. </p>
            <p> If you choose Medium mode, you can only allocate at most 12 skill points to your character. </p>
            <p> If you choose Hard mode, you can only allocate at most 8 skill points to your character. </p>
        </h1>
    </div>
{% endblock content %}
